%h Index Page
%div
  =form_tag '/sessions/login' do
    
    =label_tag 'username', 'Username' 
    =text_field_tag 'username', :placeholder => 'Username'
    
    =label_tag 'passwd', 'Password' 
    =text_field_tag 'passwd', :placeholder => 'Password'
    
    =submit_tag 'Log in'
    =submit_tag 'Sign up'