#donor_result.container-fluid
  %h2 Donor Management
  %table#table_donor.table.display{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Action
        - @donor_attr.each do |attr|
          - if @donor_attr_show.include? attr
            %th #{attr}
    %tfoot
      %tr
        %th Action
        - @donor_attr.each do |attr|
          - if @donor_attr_show.include? attr
            %th #{attr}
    %tbody
      - @donors.each do |donor|
        %tr
          %td
            = link_to "View", donor_path(donor), class: 'btn btn-success btn-xs'
          - donor.attributes.each do |attr, val|
            - if @donor_attr_show.include? attr
              %td #{val} 
  .button-line.right{:style => "padding:10"}
    =link_to "Add", "#contact_tab", class: 'btn btn-success', id: "add"
    =link_to "Edit", "#contact_tab", class: 'btn btn-info', id: "edit"
    %button.btn.btn-danger#delete{type:'button'} Delete
    =link_to "Back", donors_path, class: 'btn btn-primary'
