=render :partial=>'layouts/banner'
#page-title.container-fluid.titleLine
  %h2 Donor Management
= render :partial=>'search_result'

#donorSummary.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=>'button',:data => {:dismiss => 'modal'},:aria => { :label => 'Close'}}="&times;".html_safe
        %h4.modal-title Summary
      .modal-body
      .modal-footer
        %button.btn.btn-default{:type=>'button',:data => {:dismiss => 'modal'}} Close
