=render :partial=>'layouts/banner'
#page-title.container-fluid.titleLine
  %h2 Donor Management
#mainbody.container-fluid
  .row
    .col-sm-offset-10.col-sm-2
      = link_to 'New Donor', new_donor_path,  class:'btn btn-default' 
  #search_result.container-fluid
    = render :partial=>'search_result'

