:javascript
  function hideshow() {
  if(event.target.matches('.dropbtn#d01')){
  if(document.getElementById("d01").classList.contains("show")){
  document.getElementById('f01').classList.remove("show");
  }
  else{
  document.getElementById('f01').classList.toggle("show");
  }
  }
  if(event.target.matches('.dropbtn#d02')){
  if(document.getElementById("d02").classList.contains("show")){
  document.getElementById('f02').classList.remove("show");
  }
  else{
  document.getElementById('f02').classList.toggle("show");
  }
  }
  if(event.target.matches('.dropbtn#d03')){
  if(document.getElementById("d03").classList.contains("show")){
  document.getElementById('f03').classList.remove("show");
  }
  else{
  document.getElementById('f03').classList.toggle("show");
  }
  }
  }

  function selchange(val){
  if(val=='O'){
  if(!document.getElementById("s02").classList.contains("show")){
  document.getElementById('s02').classList.toggle("show");
  document.getElementById('s03').classList.toggle("show");
  }
  }
  else{
  if(document.getElementById("s02").classList.contains("show")){
  document.getElementById('s02').classList.remove("show");
  document.getElementById('s03').classList.remove("show");
  }
  }
  }

  function submitContact(){
  document.getElementById("contactf").submit();
  }

  function wait(){
  alert("Are you sure?");
  location.reload();
  }

=render :partial=>'layouts/banner'
#page-title.container-fluid.titleLine
  %h2 Donor Information
%ul#tabs.nav.nav-tabs.nav-justified.bold{:role=>'tablist'}
  %li.active
    %a{:id=>'basic-tab',:href=>'#basic', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'basic'}} Basic
  %li
    %a{:id=>'contact-tab',:href=>'#contact', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'contact'}} Contact
  %li
    %a{:id=>'finance-tab',:href=>'#finance', :data=>{:toggle=>'tab'}, :aria=>{:controls=>'finance'}} Finance
.tab-content.container-fluid
  #basic.tab-pane.active{:role=>'tabpanel'}
    %label#donorId.hidden=@donor.id
    =form_for @donor, :remote=>true, :method=>'post', :html=>{:id=>'newDonorInfo', :class=>'form donor-form col-sm-12'} do |f|
      .form-group
        .form-group
          .row
            .col-sm-3
              =f.label :type
              =f.select(:flag, [['Individual','I'],['Organization','O']],{},{:class=>'form-control', :onchange=>'selchange(this.value)'})
            .col-sm-1
              =f.label :subscribe
              =f.select(:subscribeflag, [['Yes','Y'],['No','N']],{},{:class=>'form-control'})
        .form-container#s02
          .row
            .col-sm-3
              =f.label :organization, 'Name'
              =f.text_field :organization, class:'form-control', id:'organization'
        .form-container#s03
          .row
            .col-sm-3
              Contactor
        .form-container.show
          .row
            .col-sm-3
              =f.label :first_name
              =f.text_field :first_name, class:'form-control', id:'first_name'#, :required=>true
            .col-sm-3
              =f.label :last_name
              =f.text_field :last_name, class:'form-control', id:'last_name'#, :required=>true
            .col-sm-3
              =f.label :middle_name
              =f.text_field :middle_name, class:'form-control', id:'middle_name'
        .brow
          %button.dropbtn#d01{:onclick => "hideshow()", :type => "button"} Role&Title
        .form-container#f01
          .row
            .col-sm-2.5
              =f.label :company
              =f.text_field :company, class:'form-control', id:'company'
            .col-sm-2.5
              =f.label :role
              =f.text_field :role, class:'form-control', id:'role'#, :required=>true
            .col-sm-2.5
              =f.label :title
              =f.text_field :title, class:'form-control', id:'title'
            .col-sm-2.5
              =f.label :salution
              =f.text_field :salution, class:'form-control', id:'salution'
            .col-sm-2.5
              =f.label :spouse
              =f.text_field :spouse, class:'form-control', id:'spouse'  
        .brow
          %button.dropbtn#d02{:type => "button"} Primary Information
        .form-container.show
          .row
            .col-sm-3
              =f.label :business_phone
              =f.text_field :business_phone, class:'form-control', id:'business_phone'
            .col-sm-3
              =f.label :email
              =f.text_field :email, class:'form-control', id:'email'
          .row
            .col-sm-3
              =f.label :street_address
              =f.text_field :street_address, class:'form-control', id:'street_address'
            .col-sm-3
              =f.label :city
              =f.text_field :city, class:'form-control', id:'city'
            .col-sm-3
              =f.label :zipcode
              =f.text_field :zipcode, class:'form-control', id:'zipcode'
          .row
            .col-sm-3
              =f.label :state
              =f.text_field :state, class:'form-control', id:'state'
            .col-sm-3
              =f.label :country
              =f.text_field :country, class:'form-control', id:'country'
        .brow
          %button.dropbtn#d03{:onclick => "hideshow()", :type => "button"} Secondary Information
        .form-container#f03
          .row
            .col-sm-3
              =f.label :home_phone
              =f.text_field :home_phone, class:'form-control', id:'home_phone'
            .col-sm-3
              =f.label :cell_phone
              =f.text_field :business_phone, class:'form-control', id:'cell_phone'
        .brow
          %button.dropbtn#d02{:type => "button"} Contact History
        .form-group
          .row
            .col-sm-6
              =f.label :note
              =f.text_area :note, class:'form-control', row:'5', id:'note'
        = form_tag donors_path,:id => 'contactf', :method => :get do
          .well{style:"background-color:#ffffff;"}
            .container
              .row
                .col-md-3
                  .form-group
                    =f.label :contact_date
                    %input#contact_field0.form-control{name:"contact_date", type:"text"}
                  .form-group
                    =f.label :followup_date
                    %input#contact_field1.form-control{name:"followup_date", type:"text"}
                .col-md-9
                  %label Narrative
                  %textarea#contact_field2.form-control{rows:"5"}
              .row{style:"margin-top: 10px"}
                .col-md-6
                  %label Finance
                  %select#contact_field3{required:"true"}
                  %option{"disabled" => true, "selected" => true, value:""} Select related finance record
                  %option{value:"-1"} None
        .button-line.pull-right
          =submit_tag "Create Donors", name: "create_and_add", data: { disable_with: "Please wait..." }, class: 'btn btn-primary', onclick:"submitContact()"
          =link_to "Back", donors_path, class: 'btn btn-default'
  #contact.tab-pane{:role=>'tabpanel'}
    .navbar.navbar-default{style:"margin-bottom: 0px; margin-top: 15px"}
      .container-fluid
        .navbar-header
          %a.navbar-brand#title_contact Donor Contact Records
        .navbar-default
          %form.navbar-form.navbar-right
            .form-group
              %input.form-control#search_contact{:placeholder => "Search", :type => "text"}
              .btn.btn-default#view_contact Detail
              .btn.btn-success#add_contact Add
              .btn.btn-info#edit_contact Edit
              .btn.btn-danger#delete_contact Delete
              .btn.btn-warning#cancel_contact{style:"display:none;"} Cancel
              =link_to "Back", donors_path, class: 'btn btn-primary'
    #info_contact.collapse{role:"tabpanel"}
      .well{style:"background-color:#ffffff;"}
        .container
          .row
            .col-md-3
              .form-group
                %label.control-label Contact Date
                %input#contact_field0.form-control{type:"text"}
              .form-group
                %label.control-label Followup Date
                %input#contact_field1.form-control{type:"text"}
            .col-md-9
              %label Narrative
              %textarea#contact_field2.form-control{rows:"5"}
          .row{style:"margin-top: 10px"}
            .col-md-6
              %label Finance
              %select#contact_field3{required:"true"}
                %option{"disabled" => true, "selected" => true, value:""} Select related finance record
            .col-md-3
              .input-group.input-group-sm
                %span.input-group-addon Created By
                %input.form-control#contact_cb{readonly:"true", style:"width:150px"}
            .col-md-3
              .input-group.input-group-sm
                %span.input-group-addon Last Modified By
                %input.form-control#contact_lmb{readonly:"true", style:"width:150px"}
    %table#table_contact.table.table-hover.table-bordered{:style => "width:100%;margin-top:15px;", :data => {:id => @donor.id}}
      %thead{:style => "width:100%"}
        %tr{:style => "width:100%"}
          - @donor_contact.each do |key|
            %th #{key.humanize}
          %th Finances
      %tbody
        %tr#contact_template
          %td
          %td
          %td
          %td{:data => {:search => -1}}
            .btn.btn-xs.btn-default.foreign_key{:style => "display:none"} Show nothing
  #finance.tab-pane{:role=>'tabpanel'}
    .navbar.navbar-default{style:"margin-bottom: 0px; margin-top: 15px"}
      .container-fluid
        .navbar-header
          %a.navbar-brand#title_finance Donor Finance Records
        .navbar-default
          %form.navbar-form.navbar-right
            .form-group
              %input.form-control#search_finance{:placeholder => "Search", :type => "text"}
              .btn.btn-default#view_finance Detail
              .btn.btn-success#add_finance Add
              .btn.btn-info#edit_finance Edit
              .btn.btn-danger#delete_finance Delete
              .btn.btn-warning#cancel_finance{style:"display:none;"} Cancel
              =link_to "Back", donors_path, class: 'btn btn-primary'
    #info_finance.collapse{role:"tabpanel"}
      .well{style:"background-color:#ffffff;"}
        .container
          .row
            .col-md-3
              .form-group
                %label.control-label Type
                %input#finance_field0.form-control{type:"text"}
              .form-group
                %label.control-label Date
                %input#finance_field1.form-control{type:"text"}
              .form-group
                %label.control-label Amount
                %input#finance_field2.form-control{type:"text"}
            .col-md-9
              %label Description
              %textarea#finance_field3.form-control{rows:"5"}
              .form-group
                %label.control-label Designation
                %input#finance_field4.form-control{type:"text"}
          .row{style:"margin-top: 10px"}
            .col-md-6
              %label Contact
              %select#finance_field5{required:"true"}
                %option{"disabled" => true, "selected" => true, value:""} Select related contact record
            .col-md-3
              .input-group.input-group-sm
                %span.input-group-addon Created By
                %input.form-control#finance_cb{readonly:"true", style:"width:150px"}
            .col-md-3
              .input-group.input-group-sm
                %span.input-group-addon Last Modified By
                %input.form-control#finance_lmb{readonly:"true", style:"width:150px"}
    #finance-panel.panel.panel-default{:style => "margin-bottom:50px;margin-top:15px;"}
      %table#table_finance.table.table-hover.table-bordered{:style => "width:100%;margin:0;", :data => {:id => @donor.id}}
        %thead{:style => "width:100%"}
          %tr{:style => "width:100%"}
            - @donor_finance.each do |key|
              %th #{key.humanize}
            %th Contact
        %tbody
          %tr#finance_template
            %td
            %td
            %td
            %td
            %td
            %td{:data => {:search => -1}}
              .btn.btn-xs.btn-default.foreign_key{:style => "display:none"} Show nothing
