=render :partial=>'layouts/banner'
#page-title.container-fluid.titleLine
  %h2 User Overview
#mainbody.container-fluid
  %table#user_table.table.display{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Action
        %th First Name
        %th Last Name
        %th Email Address
    %tbody
      - @users.each do |user|
        %tr
          %td
          %td=user.first_name.humanize
          %td=user.last_name.humanize
          %td=user.email
    %tfoot
      %tr
        %th
        - @user_attr_show.each do |attr|
          %th.filter #{attr.humanize}
          
  = link_to 'Back', :back, class:'btn btn-default pull-right'