%h2 Homepage

.container-fluid
  .row
    .col-sm-3
      = link_to 'Donor Management', donors_path, :class => "btn btn-default"
    .col-sm-3
      = link_to 'Dashboard', dashboard_path, :class => "btn btn-default"
    .col-sm-3
      = link_to 'Report', reports_path, :class => "btn btn-default"
    .col-sm-3
      = link_to 'Sign Out', logout_path, :class => "btn btn-default"