=render :partial=>'layouts/banner'
#page-title.container-fluid.titleLine
  %h2 Access Overview
#mainbody.container-fluid
  #access-result.container-fluid
    %table#access_table.table.center.display{:cellspacing => "0", :width => "100%"}
      %thead{:data => {:attrname => @access_attr}}
        %tr
          %th.center.filter Email Address
          %th
      %tbody
        - @accesses.each do |access|
          %tr{:data => {:id => access.id}}
            %td=access.email
            %td#deletebtn=link_to "delete",access_path(access.id), method: 'delete', class:'btn btn-xs btn-danger',data: {confirm: "Are you sure?"}
    .button-line.right{:style => "padding:10"}
      =link_to "Quick Add","#access_table" , class: 'btn btn-default', id: "quick_add"
      =link_to "Quick Edit", "#access_table", class: 'btn btn-default', id: "quick_edit"
      =link_to "Cancel", "#access_table", class: 'btn btn-danger', id:"cancel"
      =link_to 'Back', users_path, class:'btn btn-primary'