%table#addedDonorTable.table.display{:cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %th.hidden
      %th Type
      %th First Name
      %th Last Name
      %th Company
      %th Organization
      //%th
  %tbody
    -if @donors
      -@donors.each do |donor|
        %tr
          %td.hidden=donor.id
          %td=donor.flag.capitalize
          %td=donor.first_name.split.map(&:capitalize).join(' ') if donor.first_name
          %td=donor.last_name.split.map(&:capitalize).join(' ') if donor.last_name
          %td=donor.company.split.map(&:capitalize).join(' ') if donor.company
          %td=donor.organization.split.map(&:capitalize).join(' ') if donor.organization
          //%td=link_to 'More', dashboardDonor_path("#{donor.id}"), remote: true, data: {toggle: 'modal', target: '#addedDonorInfo'}