#agendaView-result.container-fluid  
  %table#agendaTable.table.display{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th.hidden
        %th Name
        %th Organization
        %th Contact Date
        %th Followup Date
        %th 
    %tbody
      -if @agenda_records
        -@agenda_records.each do |agenda_record|
          %tr
            %td.hidden=agenda_record.contact_id
            %td=agenda_record.name
            %td=agenda_record.organization
            %td=agenda_record.contact_date
            %td=agenda_record.followup_date
            %td=link_to 'Detail', agenda_path("#{agenda_record.contact_id}"), remote: true, class:'btn btn-xs btn-success', data: {toggle: 'modal', target: '#agendaInfo'}