=render :partial=>'layouts/banner'
=javascript_include_tag "agendas"
#page-title.container-fluid.titleLine
  %h2  Dashboard
#mainbody.container-fluid
  .row
    .col-sm-6
      %h3 Agenda
      #agenda-panel.panel.panel-default
        %table#agenda-table.table
          %thead
            %tr
              %th Name
              %th Organization
              %th Contact Date
              %th Followup Date
              %th 
          %tbody
            -if @agenda_records
              -@agenda_records.each do |agenda_record|
                %tr
                  %td=agenda_record.name.split.map(&:capitalize).join(' ') if agenda_record.name
                  %td=agenda_record.organization.split.map(&:capitalize).join(' ') if agenda_record.organization
                  %td=agenda_record.contact_date
                  %td=agenda_record.followup_date
                  %td=link_to 'More', agenda_path("#{agenda_record.contact_id}"), remote: true, data: {toggle: 'modal', target: '#agendaInfo'}
    .col-sm-6
      %h3 Report Quickview
      #recentlyreport-panel.panel.panel-default
        %table#recentlyreport-table.table
          %thead
            %tr
              %th Title
              %th Description
              %th Last Modified By
              %th Last Modified Time
              %th
          %tbody
            -if @report_records
              -@report_records.each do |report|
                %tr
                  %td=report.title
                  %td=report.description
                  %td=report.last_modified_by
                  %td=report.last_modified_at
  .row                  
    .col-sm-6
      %h3 New Added Contacts
      #addedcontact-panel.panel.panel-default
        %table#addedcontact-table.table
          %thead
            %tr
              %th Name
              %th Organization
              %th
          %tbody
            -if @donor_records
              -@donor_records.each do |donor|
                %tr
                  %td=donor.name
                  %td=donor.organization
                  %td=link_to 'More', donor_path("#{donor_record.contact_id}"), remote: true, data: {toggle: 'modal', target: '#addedcontactInfo'}
    
    .col-sm-6
      %h3 Admin Tool Box
  #agendaInfo.modal.fade{:role => 'dialog'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:type=>'button',:data => {:dismiss => 'modal'},:aria => { :label => 'Close'}}="&times;".html_safe
          %h4.modal-title Description
        .modal-body
        .modal-footer
          %button.btn.btn-default{:type=>'button',:data => {:dismiss => 'modal'}} Close