=render :partial=>'layouts/banner'
=javascript_include_tag "agendas"
#title.container.titleLine
  %h2  Dashboard
#mainbody.container
  .row
    .col-sm-6
      %h3 Agenda
      #agenda-panel.panel.panel-default
        %table#agenda-table.table
          %thead
            %tr
              %th Name
              %th Organization
              %th Contact Date
              %th Followup Date
              %th 
          %tbody
            -if @agenda_records
              -@agenda_records.each do |agenda_record|
                %tr
                  %td=agenda_record.name
                  %td=agenda_record.organization
                  %td=agenda_record.contact_date
                  %td=agenda_record.followup_date
                  %td=link_to 'More', agenda_path("#{agenda_record.contact_id}"), remote: true, data: {toggle: 'modal', target: '#agendaInfo'}
    .col-sm-6
      %h3 Report Quickview
  .row
    .col-sm-6
      %h3 New Added Contacts
    .col-sm-6
      %h3 Admin Tool Box
  #agendaInfo.modal.fade{:role => 'dialog'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:type=>'button',:data => {:dismiss => 'modal'},:aria => { :label => 'Close'}}="&times;".html_safe
          %h4.modal-title Description
        .modal-body
        .modal-footer
          %button.btn.btn-default{:type=>'button',:data => {:dismiss => 'modal'}} Close