.donor-form
  padding-top: 20px
  width: 900px
  
.table-nonfluid
  width: auto !important

.bottom-right-info-bar
  position: fixed
  bottom: 1%
  right: 5%
  
.bottom-left-info-bar
  position: fixed
  bottom: 1%
  right: 5%
  margin-right: 245px
  label
    height: 34px
    background-color: #eeeeee
    border-radius: 4px
    text-align: center
    font-weight: normal
    box-shadow: inset 0px 0px 0px 1px #cccccc
    line-height: 1
    padding-left: 10px
    padding-bottom: 0
    margin: 0
    input
      height: 34px
      margin: 0
      padding: 0
      left: 0
      border-radius: 0px 4px 4px 0px
      box-shadow: inset 0px 0px 0px 1px #cccccc
      border: 0
  
.top-info-bar
  position: fixed
  top: 0%
  left: 5%
  width: 100%
  
.fixedHeader
  background: #ffffff
  
#table_contact, #table_finance
  td
    .err
      background-color: #f2dede
    input
      display: block
      padding: 0
      margin: 0
      border: 0
      border-bottom: 1px solid #000
      width: 100%
      background-color: rgba(255,255,255,0.5)
  
.pretty th .current 
  padding-right: 12px
  background-repeat: no-repeat
  background-position: right center
  
#cancel
  display: none
  
tfoot input 
  width: 100%
  padding: 3px
  box-sizing: border-box
td.highlight 
  background-color: whitesmoke !important
  
.toolbar
  float: left
