.donor-form
  padding-top: 20px
  width: 900px
  
.table-nonfluid
  width: auto !important
  
#organization
  display: none
.bottom-right-info-bar
  position: fixed
  bottom: 1%
  right: 5%
  
.bottom-left-info-bar
  position: fixed
  bottom: 1%
  right: 5%
  margin-right: 242px
  label
    height: 34px
    background-color: #eeeeee
    border-radius: 4px
    text-align: center
    font-weight: normal
    box-shadow: inset 0px 0px 0px 1px #cccccc
    line-height: 1
    padding-left: 10px
    padding-bottom: 0
    margin: 0
    input
      height: 34px
      margin: 0
      padding: 0
      left: 0
  
.top-info-bar
  position: fixed
  top: 0%
  left: 5%
  width: 100%
  
.block_container
  text-align:center
.bloc1, .bloc2
  display:inline
