#report-result.container-fluid
  %table#report-table.table.display{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Title
        %th Description
        %th Last Modified By
        %th Last Modified Date
        %th Create Date
        %th Action
    %tbody
      -if @reports
        -@reports.each do |report|
          %tr
            %td
              =report.title
            %td
              =report.description
            %td
              =report.last_modified_by
            %td
              =report.updated_at
            %td
              =report.created_at
            %td
              =link_to "Preview", report_path(report.id), class: 'btn btn-default btn-xs'
              =link_to "Edit", edit_report_path(report), class: 'btn btn-default btn-xs'
              =link_to "Delete", report_path(report.id), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger btn-xs'
  .button-line.right{:style => "padding:10"}
    =link_to 'Add New Template', new_report_path, {:class => 'btn btn-default'} 
    =link_to 'Back', homepage_path, class:'btn btn-primary'

