.row
  .col-sm-12
    %h4 Report Template
    #report-panel.panel.panel-default
      %table#report-table.table
        %thead
          %tr
            %th Title
            %th Description
            %th Last Modified By
            %th Last Modified Date
            %th Create Date
            %th{:colspan => 2} Action
        %tbody
        -if @report_records
          -@report_records.each do |report_record|
            %tr
              %td=report_record.title
              %td=report_record.description
              %td=report_record.last_modified_by
              %td=report_record.last_modified_at
              %td=report_record.created_at
              %td=link_to "Edit", edit_report_path(report_record.id), class: 'btn btn-success btn-xs'
              %td=link_to "Delete", report_path(report_record.id), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-danger btn-xs'
 
  =link_to 'Add New Template', new_report_path, {:class => 'btn btn-default pull-right'} 
= js_will_paginate @report_records