:javascript
  function hideshow() {
  if(event.target.matches('.dropbtn#d01')){
  if(document.getElementById("d01").classList.contains("show")){
  document.getElementById('f01').classList.remove("show");
  }
  else{
  document.getElementById('f01').classList.toggle("show");
  }
  }
  if(event.target.matches('.dropbtn#d02')){
  if(document.getElementById("d02").classList.contains("show")){
  document.getElementById('f02').classList.remove("show");
  }
  else{
  document.getElementById('f02').classList.toggle("show");
  }
  }
  if(event.target.matches('.dropbtn#d03')){
  if(document.getElementById("d03").classList.contains("show")){
  document.getElementById('f03').classList.remove("show");
  }
  else{
  document.getElementById('f03').classList.toggle("show");
  }
  }
  }

  function selchange(val){
  if(val=='O'){
  if(!document.getElementById("s02").classList.contains("show")){
  document.getElementById('s02').classList.toggle("show");
  document.getElementById('s03').classList.toggle("show");
  }
  }
  else{
  if(document.getElementById("s02").classList.contains("show")){
  document.getElementById('s02').classList.remove("show");
  document.getElementById('s03').classList.remove("show");
  }
  }
  }

  function submitContact(){
  document.getElementById("contactf").submit();
  }

  $( function() {
    $("#contact_field00").datepicker();
    $("#contact_field01").datepicker();
  });


=render :partial=>'layouts/banner'

#page-title.container-fluid.titleLine
  %h2 ExceptionReport
#mainbody.container-fluid
  %h3 Date Selection
  =form_for @donor, :remote=>true, :method=>'post', :html=>{:id=>'Exception', :class=>'form donor-form col-sm-12'} do |f|
    .form-group
      .row
        .col-sm-3
          =f.label :contact_date
          %input#contact_field00.form-control{name:"contact_date", type:"date"}
        .col-sm-3
          =f.label :followup_date
          %input#contact_field01.form-control{name:"followup_date", type:"date"}
#mainbody.container-fluid
  = render :partial=>'exception_result'
