#title.container
  %h2 Report

#mainbody.container
  .row
    .col-sm-6
      %h4 Report Template
      #report-panel.panel.panel-default
        %table#report-table.table
          %thead
            %tr
              %th Title
              %th Description
              %th Last Modified By
              %th Last Modified Date
          %tbody
          
          -if @report_records
            -@report_records.each do |report_record|
              %tr
                %td=report_record.title
                %td=report_record.description
                %td=report_record.last_modified_by
                %td=report_record.last_modified_at
                %td=link_to 'More', title: "agenda#{agenda_record.contact_id}", remote: true, class: 'agenda_link'