=render :partial=>'layouts/banner'

#page-title.container-fluid.titleLine
	%h2 Report
		
#mainbody.container-fluid
	%h3 Report Creator
	%label#ReportId{:style=>'display:none'}=@report.id
	.panel-group
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Title
			.panel-body
				=@report.title
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Creator
			.panel-body
				=@report.created_by
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Description
			.panel-body
				=@report.description
		#filter-panel.panel.panel-default{:style => "margin-bottom:50px;margin-top:10px;"}
			.panel-heading{:style => "font-size:20px;"} Fields
			%table#filter_tab.table.table-hover.clickable-row{:style => "width:100%;margin-top:10px;", :data => {:id => @report.id}}
				%thead{:style => "width:100%"}
					%tr{:style => "width:100%"}
						- @report_filter.each_pair do |key, val|
							%th{:width => val}
								= key
				%tbody
		.button-line.bottom-right-info-bar{:style => "padding:0"}
			%button.btn.btn-success#add Add
			%button.btn.btn-info#edit Edit
			%button.btn.btn-warning#save{style:""} Save
			%button.btn.btn-danger#delete Delete
			=link_to "Back", reports_path, class: 'btn btn-primary'

		