=render :partial=>'layouts/banner'
=javascript_include_tag "report"
=javascript_include_tag "filter.js"
//=javascript_include_tag "field.js"

#page-title.container-fluid.titleLine
	%h2 Report
		
#mainbody.container-fluid
	%h3 Report Creator
	.panel-group
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Title
			.panel-body
				=@report.title
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Creator
			.panel-body
				=@report.created_by
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Description
			.panel-body
				=@report.description
		#filter-panel.panel.panel-default{:style => "margin-bottom:50px;margin-top:10px;"}
			.panel-heading{:style => "font-size:20px;"} Fields
			%form{:id => 'fields', :role => "form"}
				#three-box-step.form-group
					.row
						.col-md-3
							%h5
								%span.list-title 1) Tables
							%select.form-control{:id => "tables",:multiple => "", :style => "height: 200px; width: 100%; margin-top: 10px"}
								%option{:value => "1"} Donor
								%option{:value => "3"} Contact
								%option{:value => "4"} Finance
						.col-md-4
							%h5
								%span.list-title 2) Available Fields
								%select.unselected.fields.form-control{:id => "availablefields", :multiple => "", :style => "height: 200px; width: 100%; margin-top: 10px"}
						.col-md-4
							%h5
								%span.list-title 3) Filter
								
								=form_for @filter, :html => {:id => 'string-filter', :role => 'form'} do |f|
			%table#filter_tab.table.table-hover.clickable-row{:style => "width:100%;margin-top:10px;", :data => {:id => @report.id}}
				%thead{:style => "width:100%"}
					%tr{:style => "width:100%"}
						- @report_filter.each_pair do |key, val|
							%th{:width => val}
								= key
				%tbody
		.button-line.bottom-right-info-bar{:style => "padding:0"}
			=link_to "Add", "#filter_tab", class: 'btn btn-success', id: "add"
			=link_to "Edit", "#filter_tab", class: 'btn btn-info', id: "edit"
			%button.btn.btn-danger#delete{type:'button'} Delete
			=link_to "Back", reports_path, class: 'btn btn-primary'
		=javascript_include_tag "filter.js"
		/
			.panel.panel-danger{:style => "margin-top:40px;"}
				.panel-heading{:style => "font-size:20px;"} Fields
				%form{:id => 'fields', :role => "form"}
					#three-box-step.form-group
						.row
							.col-md-3
								%h5
									%span.list-title 1) Tables
								%select.form-control{:id => "tables",:multiple => "", :style => "height: 200px; width: 100%; margin-top: 10px"}
									%option{:value => "1"} Donor
									%option{:value => "2"} Orgnization
									%option{:value => "3"} Contact
									%option{:value => "4"} Finance
									%option{:value => "5"} Contact Person
							.col-md-4
								%h5
									%span.list-title 2) Available Fields
									%select.unselected.fields.form-control{:id => "availablefields", :multiple => "", :style => "height: 200px; width: 100%; margin-top: 10px"}
							.col-md-4
								%h5
									%span.list-title 3) Filter
									.form-group{:style => 'margin-top:10px;margin-left:20px;'}
										.row
											.col-md-3#filter
											.col-md-1.pull-right{:style => 'margin-top:160px'}
						.row
							.col-md-5
								%h5
									%span.list-title 4) Criteria Fields