=render :partial=>'layouts/banner'
=javascript_include_tag "report"
#page-title.container-fluid.titleLine
	%h2 Report
		
#mainbody.container-fluid
	%h3 Report Creator
	.panel-group
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Title
			.panel-body
				=@report_record.title
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Creator
			.panel-body
				=@report_record.created_by
		.panel.panel-default
			.panel-heading{:style => "font-size:20px;"} Description
			.panel-body
				=@report_record.description
		.panel.panel-danger{:style => "margin-top:40px;"}
			.panel-heading{:style => "font-size:20px;"} Fields
			%form{:id => 'fields', :role => "form"}
				#three-box-step.form-group
					.row
						.col-md-3
							%h5
								%span.list-title 1) Tables
							%select.form-control{:id => "tables",:multiple => "", :style => "height: 200px; width: 100%; margin-top: 10px"}
								%option{:value => "1"} Donor
								%option{:value => "3"} Contact
								%option{:value => "4"} Finance
						.col-md-4
							%h5
								%span.list-title 2) Available Fields
								%select.unselected.fields.form-control{:id => "availablefields", :multiple => "", :style => "height: 200px; width: 100%; margin-top: 10px"}
						.col-md-4
							%h5
								%span.list-title 3) Filter
								
								=form_for @filter, :html => {:id => 'string-filter', :role => 'form'} do |f|
									.form-group{:style => 'margin-top:10px;margin-left:20px;'}
										.row
											.col-md-3
												=f.label :value,'Value:'
												=f.text_field :value, :class => 'form-control', :id => 'value', :placeholder => 'value'
											.col-md-1.pull-right{:style => 'margin-top:160px'}
												=link_to "Add this filter", "#filter_add", class: 'btn btn-success', id: "filter_add"
					.row
						.col-md-5
							%h5
								%span.list-title 4) Criteria Fields