%body.container-fluid
  #banner.container-fluid.paddingBanner
    .row
      .col-sm-6
        #flash
          - if flash[:notice]
            =flash[:notice]
          - elsif flash[:warning]
            =flash[:warning]
      .col-sm-6
        =link_to "Return to Homepage", homepage_path