!!!
%html
  %head
    %title  NAMI Donor Management System
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    =javascript_include_tag "https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"
    =javascript_include_tag "https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"
    =javascript_include_tag "//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"
    =javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"
    =javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"
    =javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"
    =javascript_include_tag "//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"
    =javascript_include_tag "//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"
    = csrf_meta_tags
  %body.container-fluid
    = yield
